@import "./../../colors.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.searcher {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.twits {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 430px;
  .twit {
    // background: $secondaryHover;
    background: $blue;
    border: 2px solid $background;
    transition: 0.2s;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    // &:hover {
    //   box-shadow: 0 0 20px $secondary;
    // }
    .twit-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      .twit-avatar {
        border: 3px solid $secondary;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
      .twit-avatar-default {
        border: none !important;
      }
      .nickname {
        color: $background;
        font-size: 35px;
        font-weight: 600;
        margin-right: 10px;
      }
    }
    .twit-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      background-color: $white;
      border-radius: 10px;
      .twit-description {
        width: 80%;
        background-color: $white;
        border-radius: 10px;
        border: none;
        color: $blue;
        resize: none;
        padding: 10px;
        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }
        .hashtag {
          color: $secondary;
          font-weight: 600;
          cursor: pointer;
        }
      }
      .twit-heart-counter {
        color: $blue;
        font-size: 25px;
        margin-right: 25px;
        margin-top: 5px;
      }
      .twit-heart {
        color: #78909c;
        margin-right: 15px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
      .twit-heart-active {
        margin-right: 15px;
        color: $blue;
      }
      .twit-heart:hover,
      .twit-heart:focus {
        color: $blue;
      }
      .twit-delete {
        color: $secondary;
        margin-right: 15px;
        cursor: pointer;
      }
    }
    .twit-content {
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 400px;
      background-position: center center;
      border-radius: 10px;
    }
    .twit-content-none {
      display: none;
    }
    .twit-comments {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      height: auto;
      .twit-comment {
        width: 100%;
        background-color: $white;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        opacity: 0.8;
        .twit-comment-description {
          font-size: 12px;
          resize: none;
          height: 100%;
          width: 100%;
          border: none;
          color: $blue;
          &:focus {
            outline: none;
            border: none;
            box-shadow: none;
          }
        }
        .twit-delete {
          cursor: pointer;
          color: $secondary;
        }
      }
    }
    .add-comment {
      width: 100%;
      background-color: #fff;
      opacity: 0.8;
      border-radius: 5px;
      .comment-input {
        width: 100%;
        height: 40px;
        border: none;
        padding: 10px;
        border-radius: 10px;
        resize: none;
        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
      .comment-button {
        background: none;
        border: none;
        width: 100%;
        text-align: center;
        color: $blue;
        font-size: 20px;
        cursor: pointer;
        border-radius: 3px;
        margin-top: 10px;
        padding: 10px 5px;
      }
    }
  }
}
