@import "./../../colors.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.twits {
  display: flex;
  flex-direction: column;
  .twit {
    background: $secondaryHover;
    border: 2px solid $background;
    transition: 0.2s;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    &:hover {
      box-shadow: 0 0 20px $secondary;
      filter: contrast(1.2);
    }
    .twit-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      .twit-description {
        width: 80%;
        height: 100px;
      }
      button {
        background: none;
        border: none;
        color: $white;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .twit-content {
      width: 350px;
      height: 350px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 10px;
    }
    .add-comment {
      width: 400px;
      display: flex;
      background-color: #fff;
      opacity: 0.8;
      border-radius: 5px;
      .comment-input {
        width: 100%;
        height: 100%;
        border: none;
        padding: 10px;
        border-radius: 10px;
        resize: none;
        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
      .comment-button {
        background: none;
        border: none;
        color: $blue;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
