@import "./../../colors.scss";
.add-twits-container {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 15;
  form {
    display: flex;
    flex-direction: column;
    width: 430px;
    .content-main {
      display: flex;
      align-items: center;
      background: $white;
      justify-content: space-between;
      padding: 10px 20px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      textarea {
        height: 60px;
        resize: none;
        padding: 15px;
        width: 85%;
        border: 1px solid $secondary;
        border-radius: 5px;
        margin-bottom: 10px;
        &:focus {
          outline: none;
          box-shadow: 0 0 5px #0c8de4;
        }
      }
      .add-twit-icon {
        color: $secondary;
        cursor: pointer;
      }
    }
    .twit-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .fileBase64 {
        display: none;
      }
      button {
        transition: 0.2s;
        border: none;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 50px;
        background-color: $twitter-color;
        color: white;
        padding: 10px 20px;
        width: 100%;
        // border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: $twitter-color-dark;
        }
      }
    }
  }
}
