// $background: #030716;
$background: #071136;
$secondary: #410864;
$secondaryHover: linear-gradient(245.3deg, #320b49 25.83%, #092692 93.39%);

$black: #121212;
$white: #f2f2f2;
$blue: #040a20;
$indigo-light: #9ca0af;
$twitter-color: #1da1f2;
$twitter-color-dark: #0c75bc;
$blue-darkest: #211059;
$blue-second: #092692;
$red: #e0245e;