@import "./../../colors.scss";
.twits-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  .spinner {
    margin-top: 100px;
    background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
    width: 100px;
    height: 100px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
      0px 5px 20px 0px rgb(0, 225, 255);
  }
  h2 {
    margin-top: 50px;
    font-size: 30px;
  }
  p {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px 50px $twitter-color;
    font-weight: 700;
    color: $indigo-light;
    span {
      color: $twitter-color;
    }
  }
  .spinner1 {
    background: $background;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
  }

  @keyframes spinning82341 {
    to {
      transform: rotate(360deg);
    }
  }
}
